extends layout

block hero-unit
  .jumbotron
    .container
      div.search-border
        div.search-text Find Boss Fight Friend 
        nav.navbar.navbar-light.bg-light.justify-content-center(aria-label="toggle-navigation")
        form.form-inline
          input.form-control.mr-sm-2(type="text" placeholder="Search events or categories")
          input.form-control.mr-sm-2(type="text" placeholder="City or location")
          select.custom-select
            option(selected) All Dates
              option(value="1") 던전 & 파이터 
              option(value="2") Tomorrow
              option(value="3") This Week
              option(value="4") This Weekend
              option(value="5") Next Week
              option(value="6") Next Month
          button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
  .container

    for question in questions
      .card.col-lg-4.col-sm-10.d-inline-block
        img.card-img-top(src="/images/boss1.jpg" alt="Card image cap")
        .card-body
          h4.card-title
            a.title(href=`/questions/${question.id}`)=question.mainTitle
          p.card-text
            span BOSS :#{question.title} 
            
          include questions/partyperson

        .card-footer
          small.text-muted.tags.badges
            each tag in question.tags
              span.badge.badge-phill.badge-secondary= tag
