.content=question.mainTitle

.row
  .col-sm
    include partyperson
.tags.badges
  each tag in question.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
  .col-sm
    .author
      | asked on #{moment(question.createdAt).format('YYYY-MM-DD')}
      if question.author
        | 
        | by #[a(href=`/users/${question.author.id}`)= question.author.name] 
