.row
  .col-sm
    include partyperson 
.tags.badges
  each tag in question.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
  .col-sm
    .author
      |
      | 조회수 #[span.number.num-vote_buf= question.numReads]
      | asked on #{moment(question.createdAt).format('YYYY-MM-DD')}
      if question.author
        | 
        | by #[a(href=`/users/${question.author.id}`)= question.author.name] 
