div.
  비용 #[span.number.num-gold= question.number_input] (만)골드

h5 최대 모집 인원
.numbers
  div.
   #[span.number.max_num-tank= question.tanker] 탱커
   #[span.number.max_num-deal= question.dealer] 딜러
   #[span.number.max_num-buff= question.buffer] 버퍼 (힐)
  
  
h6 현재 지원 인원
.numbers.
  #[span.num-vote_tan= question.vote_tan] 탱커
  #[span.num-vote_buf= question.vote_deal] 딜러
  #[span.num-vote_buf= question.vote_buf] 버퍼
  
  
