div.
  비용 #[span.number.num-gold= question.number_input] (만)골드

h5 최대 모집 인원
.numbers
  div.
   비용 #[span.number.num-gold= question.number_input] (만)골드
  div.
   #[span.number.max_num-tank= question.tanker] 탱커
   #[span.number.max_num-deal= question.dealer] 딜러
   #[span.number.max_num-buff= question.buffer] 버퍼 (힐)
  
  
h6 현재 지원 인원
.numbers.
  #[span.number.num-votes= question.numLikes] 탱커
  #[span.number.num-answers= question.numAnswers] 힐러
  #[span.number.num-views= question.numReads] 버퍼
