h5 최대 모집 인원
.numbers
  div.
   비용 #[span.number.num-gold= question.number_input] (만)골드
  div.
   #[span.number.num-tank= question.tanker] 탱커
   #[span.number.num-deal= question.dealer] 딜러
   #[span.number.num-buff= question.buffer] 버퍼 (힐)
  
  
h6 현재 지원 인원
.numbers.
  #[span.number.num-votes= question.numLikes] Like
  #[span.number.num-answers= question.numAnswers] answers
  #[span.number.num-views= question.numReads] reads
